<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Ordernumber:</strong>
  <%= @payment.ordernumber %>
</p>

<p>
  <strong>Tpye:</strong>
  <%= @payment.tpye %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
