<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zone.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @zone.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zone.description %>
</p>

<p>
  <strong>Dots:</strong>
  <%= @zone.dots %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
